#wrapper {
	width: 960px;
	margin: 0 auto;
}

#left {
	float: left;
	width: 470px;
}

#right {
	float: right;
	width: 470px;
}

fieldset {
	width: 350px;
	margin-bottom: 20px;
}

body {
	font-family: Verdana, sans-serif;
}

ul li {
	list-style: none;
	padding-bottom: 5px;
}

ul {
	padding-left: 0px;
}

.formContainer {
    width: 100%;
    clear: both;
}
.formContainer input {
    width: 100%;
    clear: both;
}

